$mainTheme: #EEC643;
$secondaryTheme: #011638;
$thirdTheme: #d4d4d4;
$fourthTheme: #aaaaaa;
$fifthTheme: #0D21A1;

$textDark: #011638;
$textLight: #EEF0F2;

$white: #fff;
$dark: #000;

$confirm: #3fd357;
$negative: #ff5f5f;